In [37]:
import pandas as pd
import numpy as np
import seaborn as sns

In [38]:
df = pd.read_csv("../Data/selected_data/merged_data.csv")

C:\Users\Mansitha Eashwara\AppData\Local\Temp\ipykernel_15420\2502520839.py:1: DtypeWarning: Columns (33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../Data/selected_data/merged_data.csv")

In [39]:
df.head()

,Unnamed: 0,batter,bowler,non_striker,runs_by_bat,extra_runs,total_runs_delivery,current_team_total,runs_remain,batter_runs,...,winning_team,batting_team,bowling_team,won,final_team_total,batter_type,non_striker_type,bowler_type,replacements,review
0,0,AJ Finch,SL Malinga,M Klinger,0,0,0,0,NaN,0,...,Sri Lanka,Australia,Sri Lanka,0.0,168,Right hand Bat,NaN,Right arm Fast,NaN,NaN
1,1,AJ Finch,SL Malinga,M Klinger,0,0,0,0,NaN,0,...,Sri Lanka,Australia,Sri Lanka,0.0,168,Right hand Bat,NaN,Right arm Fast,NaN,NaN
2,2,AJ Finch,SL Malinga,M Klinger,1,0,1,1,NaN,1,...,Sri Lanka,Australia,Sri Lanka,0.0,168,Right hand Bat,NaN,Right arm Fast,NaN,NaN
3,3,M Klinger,SL Malinga,AJ Finch,2,0,2,3,NaN,2,...,Sri Lanka,Australia,Sri Lanka,0.0,168,NaN,Right hand Bat,Right arm Fast,NaN,NaN
4,4,M Klinger,SL Malinga,AJ Finch,0,0,0,3,NaN,2,...,Sri Lanka,Australia,Sri Lanka,0.0,168,NaN,Right hand Bat,Right arm Fast,NaN,NaN

In [40]:
df.drop(columns=['Unnamed: 0',"review","fielder"], inplace=True)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217242 entries, 0 to 217241
Data columns (total 32 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   batter               217242 non-null  object
 1   bowler               217242 non-null  object
 2   non_striker          217242 non-null  object
 3   runs_by_bat          217242 non-null  int64
 4   extra_runs           217242 non-null  int64
 5   total_runs_delivery  217242 non-null  int64
 6   current_team_total   217242 non-null  int64
 7   runs_remain          103118 non-null  float64
 8   batter_runs          217242 non-null  int64
 9   balls_faced          217242 non-null  int64
 10  wickets_fallen       217242 non-null  int64
 11  extra_type           217242 non-null  object
 12  delivery             217242 non-null  float64
 13  over                 217242 non-null  int64
 14  wicket_type          217242 non-null  object
 15  player_out           11704 non-null   object
 16  toss_decision        217242 non-null  object
 17  toss_winner          217242 non-null  object
 18  innings              217242 non-null  int64
 19  venue                217242 non-null  object
 20  year                 217242 non-null  int64
 21  month                217242 non-null  int64
 22  match_id             217242 non-null  object
 23  winning_team         217242 non-null  object
 24  batting_team         217242 non-null  object
 25  bowling_team         216265 non-null  object
 26  won                  211036 non-null  float64
 27  final_team_total     217242 non-null  int64
 28  batter_type          187814 non-null  object
 29  non_striker_type     187723 non-null  object
 30  bowler_type          217240 non-null  object
 31  replacements         40 non-null      object
dtypes: float64(3), int64(12), object(17)
memory usage: 53.0+ MB

In [42]:
null_columns = df.isnull().sum()[df.isnull().sum() > 0]
print(null_columns)

runs_remain         114124
player_out          205538
bowling_team           977
won                   6206
batter_type          29428
non_striker_type     29519
bowler_type              2
replacements        217202
dtype: int64

In [43]:
df["runs_remain"] = df["runs_remain"].fillna(-1)
df["replacements"] = df["replacements"].fillna("No Replacement")
df["player_out"] = df["player_out"].fillna("Not Out")
df["won"] = df["won"].fillna(-1)
df["bowler_type"] = df["bowler_type"].fillna("Right arm Offbreak")

In [44]:
null_columns = df.isnull().sum()[df.isnull().sum() > 0]
print(null_columns)

bowling_team          977
batter_type         29428
non_striker_type    29519
dtype: int64

In [48]:
temp = df.loc[df["bowling_team"].isnull()] 
temp["match_id"].unique()

array(['New Zealand_West Indies_2018-01-01', 'Australia_India_2018-11-23',
       'England_Pakistan_2020-08-28',
       'West Indies_New Zealand_2020-11-30',
       'West Indies_Pakistan_2021-07-28',
       'West Indies_Pakistan_2021-08-01',
       'West Indies_Pakistan_2021-08-03', 'India_South Africa_2022-06-19',
       'Bangladesh_West Indies_2022-07-02',
       'New Zealand_Pakistan_2023-04-20',
       'New Zealand_Bangladesh_2023-12-29',
       'Afghanistan_India_2023-10-07', 'Ireland_West Indies_2012-09-24',
       'England_New Zealand_2013-06-27',
       'West Indies_Bangladesh_2014-08-27',
       'Bangladesh_Ireland_2016-03-11'], dtype=object)

In [46]:
df["bowler_type"].value_counts()

bowler_type
Right arm Fast         66582
Right arm Medium       38179
Right arm Offbreak     29164
Left arm Orthodox      24693
Right arm Legbreak     24094
Left arm Fast          21680
Left arm Medium         9565
Left arm Wrist spin     3285
Name: count, dtype: int64