In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the data
data = pd.read_csv('../Data/selected_data/processed_data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217242 entries, 0 to 217241
Data columns (total 32 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   batter               217242 non-null  object
 1   bowler               217242 non-null  object
 2   non_striker          217242 non-null  object
 3   runs_by_bat          217242 non-null  int64
 4   extra_runs           217242 non-null  int64
 5   total_runs_delivery  217242 non-null  int64
 6   current_team_total   217242 non-null  int64
 7   runs_remain          217242 non-null  float64
 8   batter_runs          217242 non-null  int64
 9   balls_faced          217242 non-null  int64
 10  wickets_fallen       217242 non-null  int64
 11  extra_type           217242 non-null  object
 12  delivery             217242 non-null  float64
 13  over                 217242 non-null  int64
 14  wicket_type          217242 non-null  object
 15  player_out           217242 non-null  object
 16  toss_decision        217242 non-null  object
 17  toss_winner          217242 non-null  object
 18  innings              217242 non-null  int64
 19  venue                217242 non-null  object
 20  year                 217242 non-null  int64
 21  month                217242 non-null  int64
 22  match_id             217242 non-null  object
 23  winning_team         217242 non-null  object
 24  batting_team         217242 non-null  object
 25  bowling_team         217242 non-null  object
 26  won                  217242 non-null  float64
 27  final_team_total     217242 non-null  int64
 28  batter_type          217242 non-null  object
 29  non_striker_type     217242 non-null  object
 30  bowler_type          217242 non-null  object
 31  replacements         217242 non-null  object
dtypes: float64(3), int64(12), object(17)
memory usage: 53.0+ MB

In [47]:
player_name = 'BKG Mendis'
innings = [1, 2]
player_data = data.loc[
		(data['batter'] == player_name) & (data['innings'].isin(innings))
	]

player_data.head()

# Convert all medium bowlers to fast
player_data[player_data['bowler_type'] == 'Left arm Medium'] = 'Left arm Fast'
player_data[player_data['bowler_type'] == 'Right arm Medium'] = 'Right arm Fast'
player_data['out'] = (player_data['wicket_type'] != '0') & (player_data['wicket_type'] != 'run out') 


# group data by match_id
cols = ['batter', 'non_striker', 'batter_runs', 'out', 'won', 'innings', 'over', 'delivery','bowler_type']
player_data = player_data[cols]

gp = player_data.groupby('bowler_type')

C:\Users\kaush\AppData\Local\Temp\ipykernel_29108\629074630.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_data[player_data['bowler_type'] == 'Left arm Medium'] = 'Left arm Fast'
C:\Users\kaush\AppData\Local\Temp\ipykernel_29108\629074630.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Left arm Fast' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  player_data[player_data['bowler_type'] == 'Left arm Medium'] = 'Left arm Fast'
C:\Users\kaush\AppData\Local\Temp\ipykernel_29108\629074630.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Left arm Fast' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  player_data[player_data['bowler_type'] == 'Left arm Medium'] = 'Left arm Fast'
C:\Users\kaush\AppData\Local\Temp\ipykernel_29108\629074630.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_data[player_data['bowler_type'] == 'Right arm Medium'] = 'Right arm Fast'
C:\Users\kaush\AppData\Local\Temp\ipykernel_29108\629074630.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  player_data['out'] = (player_data['wicket_type'] != '0') & (player_data['wicket_type'] != 'run out')

,batter,non_striker,batter_runs,out,won,innings,over,delivery
bowler_type,,,,,,,,
Left arm Fast,BKG Mendis,EMDY Munaweera,0,False,1.0,2,2,3.0
Left arm Orthodox,BKG Mendis,MD Gunathilaka,0,False,1.0,2,0,1.0
Right arm Fast,BKG Mendis,EMDY Munaweera,5,False,1.0,2,3,1.0
Right arm Legbreak,BKG Mendis,EMDY Munaweera,12,False,0.0,2,6,5.0
Right arm Offbreak,BKG Mendis,EMDY Munaweera,1,False,0.0,2,4,1.0