In [1]:

from converters import json_to_csv

# allData,playerMapping = json_to_csv('211028_test.json', output_file=True)
# print("player Mapping",playerMapping)
json_to_csv('211028_test.json', output_file=True)
# print("player Mapping",playerMapping)

In [2]:
import pandas as pd

df = pd.read_csv('csv_files/211028_Australia_2.csv')
df.head(25)

,Unnamed: 0,batter,bowler,non_striker,runs_by_bat,extra_runs,total,team_total,batter_runs,balls_faced,...,wicket_type,player_out,fielder,toss_decision,toss_winner,innings,venue,date,batting_team,bowling_team
0,0,AC Gilchrist,D Gough,ML Hayden,0,0,0,0,0,1,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
1,1,AC Gilchrist,D Gough,ML Hayden,4,0,4,4,4,2,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
2,2,AC Gilchrist,D Gough,ML Hayden,0,0,0,4,4,3,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
3,3,AC Gilchrist,D Gough,ML Hayden,0,0,0,4,4,4,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
4,4,AC Gilchrist,D Gough,ML Hayden,4,0,4,8,8,5,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
5,5,AC Gilchrist,D Gough,ML Hayden,0,0,0,8,8,6,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
6,6,ML Hayden,J Lewis,AC Gilchrist,4,0,4,12,4,1,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
7,7,ML Hayden,J Lewis,AC Gilchrist,1,0,1,13,5,2,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
8,8,AC Gilchrist,J Lewis,ML Hayden,0,0,0,13,8,7,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
9,9,AC Gilchrist,J Lewis,ML Hayden,0,0,0,13,8,8,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
10,10,AC Gilchrist,J Lewis,ML Hayden,4,0,4,17,12,9,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
11,11,AC Gilchrist,J Lewis,ML Hayden,1,0,1,18,13,10,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
12,12,AC Gilchrist,D Gough,ML Hayden,0,1,1,19,13,11,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
13,13,ML Hayden,D Gough,AC Gilchrist,1,0,1,20,6,3,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
14,14,AC Gilchrist,D Gough,ML Hayden,0,1,1,21,13,12,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
15,15,AC Gilchrist,D Gough,ML Hayden,2,0,2,23,15,13,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
16,16,AC Gilchrist,D Gough,ML Hayden,0,0,0,23,15,14,...,caught,AC Gilchrist,KP Pietersen,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
17,17,ML Hayden,D Gough,A Symonds,0,0,0,23,6,4,...,caught,ML Hayden,KP Pietersen,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
18,18,A Symonds,D Gough,MJ Clarke,0,0,0,23,0,1,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
19,19,MJ Clarke,J Lewis,A Symonds,0,0,0,23,0,1,...,caught,MJ Clarke,GO Jones,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
20,20,MEK Hussey,J Lewis,A Symonds,0,0,0,23,0,1,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
21,21,MEK Hussey,J Lewis,A Symonds,1,0,1,24,1,2,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
22,22,A Symonds,J Lewis,MEK Hussey,0,0,0,24,0,2,...,caught,A Symonds,KP Pietersen,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
23,23,RT Ponting,J Lewis,MEK Hussey,0,0,0,24,0,1,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England
24,24,RT Ponting,J Lewis,MEK Hussey,0,0,0,24,0,2,...,0,NaN,NaN,bat,England,2,The Rose Bowl,2005-06-13,Australia,England

In [3]:
from summaryData import Summary
match = Summary('211028.json')
match.fall_of_wicket(2)

FileNotFoundError: [Errno 2] No such file or directory: '211028.json'